@charset "utf-8";
/* CSS Document */
#outer-wrapper, #sidebar1, #impressum, #webdesign, .noprint {display:none}

#maincontent {padding-right:40pt;padding-left:90pt;padding-top:25pt;padding-bottom:25pt;
}

.twoColElsLtHdr #mainheader, .twoColElsLtHdr #mainContent, .sommer #mainheader, .sommer #mainContent {
width:90%;
position: relative;
border-left: 0 none transparent;
border-right: 0 none transparent;
margin-left: 5em;
margin-right: 3em;
margin-top: 0;
margin-bottom: 0.5em;
font-size: small;
padding: 0.5em;
padding-top: 5px;
}

.sommer #container {
background: white;
margin: 0 auto;
text-align: left;
font-size: small;
}

#printlogo {display:block;height:4cm;width:4cm;}

